body {
   
}

* {
    }

.container {
    width: 80%;
    margin: 30px; 
   background-color: white;
   border-radius: 5%;
   border: solid 1px;
}


.tags1 {
    display: inline-block;
    margin: 50px;
    
}

.tags2 {
    display: inline-block;
    margin: 25px;
    border-radius: 20%;

}

.tags3 {
    display: inline-block;
    margin: 35px;
}

.tags4 {
    display: inline-block;
    margin: 30px;
}
.tags5 {
    display: inline-block;
    margin: 30px;
}

.tags6 {
    display: inline-block;
    margin: 25px;
}

.tags7 {
    display: inline-block;
    margin: 30px;
}

.tags0 {
    display: inline-block;
    margin: 30px;
   
   border: solid 2px;
   
}


